<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8">
      <title>Dietary Department - Patient Management System</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
      <link rel="stylesheet" href="/assets/css/all.min.css">
      <link rel="stylesheet" href="/css/dietaryCss.css"> <!-- رابط إلى ملف CSS -->
          <script src="/js/dietaryJs.js"></script>
		  
      <style>
        @media print {
            .header-right {
                      visibility: hidden; /* سيخفي العنصر ولكن سيترك المساحة المخصصة له */
            }
			.filter-section {
				display: none !important;
			   }
			   .table {
			            border: 2px solid black !important;
			            border-collapse: collapse;
			            }
			            .table th {
			            background-color: #d3d3d3  !important; /* لون خلفية الرأس عند الطباعة */
			            color: black !important; /* لون نص الرأس عند الطباعة */
			            text-align: center;
			            vertical-align: middle;
			            padding: 15px 10px;
			            white-space: nowrap;
			            -webkit-print-color-adjust: exact; /* تأكيد الطباعة الدقيقة للألوان */
			            print-color-adjust: exact;
						position: static; /* إلغاء التثبيت للطباعة */

						
			            }
			            .table th, .table td {
			            border: 1px solid black !important;
			            padding: 8px;
			            text-align: center; /* توسيط النص */
			            vertical-align: middle; /* توسيط عمودي للنص */
			            }
						/* إعادة تهيئة ألوان الجدول للطباعة */
						   #patientsTable th, #patientsTable td {
						     color: black;
						     background-color: #d3d3d3;
						   }

						   /* إضافة تباين للـ th */
						   #patientsTable th {
						     background-color: #d3d3d3 !important;
						     color: black !important;
						   }
						   /* التحكم في الهوامش عند الطباعة */
						      @page {
						          margin-top: 1cm; /* مسافة من الأعلى */
						          margin-bottom: 1cm; /* مسافة من الأسفل */
						      }

						      /* إخفاء عناصر معينة مثل الأزرار في حالة الطباعة */
						      .no-print {
						          display: none;
						      }

						      /* تخصيص ترويسة الجدول ليتم تكرارها عند كل صفحة جديدة */
						      thead {
						          display: table-header-group; /* تثبيت الترويسة في كل صفحة */
						      }

						      tfoot {
						          display: table-footer-group; /* تثبيت التذييل في كل صفحة */
						      }

						      /* إعداد الجدول للطباعة بشكل جيد */
						      table {
						          width: 100%;
						          page-break-inside: auto;
						      }

						      tr {
						          page-break-inside: avoid;
						          page-break-after: auto;
						      }
							  .table {
							          margin-top: 20px;
							          border-collapse: collapse; /* Collapse table borders */
							          width: 100%;
							          overflow-x: auto; /* Enable horizontal scrolling for the table */
							          transform: translateX(-35px); /* Move the table 10px to the left */
									  margin-bottom: 15px;
    
								  }
								  
									  
    
        }
        
      #diet-order-col {
    min-width: 200px !important;
}
#admission-date-col{
    min-width: 50px !important;

}
#note-order-col{
    min-width: 50px !important;

}
.print-details {
    display: none; /* إخفاء العنصر في العرض العادي */
}

@media print {
    .print-details {
        display: flex; /* إظهار العنصر عند الطباعة */
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        padding: 10px;
        font-size: 14px;
        border-top: 1px solid #000;
        gap:130px; /* زيادة المسافة بين العناصر */
    }

    .print-details p {
        margin: 0 20px; /* زيادة المسافة بين الفقرات */
        flex: 1;
        text-align: center;
    }
}

    </style>
	<script>
	        function updatePrintInfo() {
	            const now = new Date();
	            const printTime = now.toLocaleTimeString();
	            const printDate = now.toLocaleDateString();
	            document.getElementById('printTime').textContent = printTime;
	            document.getElementById('printDate').textContent = printDate;
	        }

	        function beforePrint() {
	            updatePrintInfo();
	            document.getElementById('printInfo').style.display = 'flex'; // تغيير إلى flex
	        }

	        function afterPrint() {
	            document.getElementById('printInfo').style.display = 'none';
	        }

	        window.onbeforeprint = beforePrint;
	        window.onafterprint = afterPrint;

	        document.addEventListener("DOMContentLoaded", function() {
	            var table = document.getElementById("patientsTable");
	            var rows = table.querySelectorAll("tbody tr");
	            rows.forEach(function(row, index) {
	                var serialNoCell = row.querySelector("td:first-child");
	                serialNoCell.textContent = index + 1;
	            });
	        });
	    </script>
   </head>
   <body>

    <!-- Profile Icon -->
    <div class="profile-icon" onclick="toggleProfileDropdown()">
        <img src="/ProfileIcon.jpg" alt="Profile Icon">
    </div>

    <!-- Profile Dropdown -->
    <div class="profile-dropdown" id="profileDropdown">
        <p><strong>Welcome:</strong> <span th:text="${username}"></span></p>
        <form th:action="@{/patients/logout}" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
      <div class="container">
      <div class="page-header">
         <div class="header-left">
            <img src="/logo.png" alt="Logo" style="height: 190px;">
         </div>
         <div class="header-center">
            وزارة الصحة <br>
            تجمع الرياض الصحي الثالث <br> 
            مستشفــــى محافظة الدوادمــــــي العــــام<br>
            وجبات المرضـــى والمرافقيــن من أقســــام التنويم	<br>				
            النموذج رقم 5				
         </div>
         <div class="header-right">
            <div>Dietary Department</div>
<div style="text-align:center;">
        <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy')}"></span>
       </div>            <div style="text-align:center;" id="dayName"></div>
         </div>
      </div>
      <div class="container">
         <h2 class="text-center mb-4 no-print">Dietary Department - Patient Management System</h2>
         <div class="row no-print">
            <div class="col-md-6">
               <input type="text" id="searchInput" class="form-control" placeholder="Search...">
            </div>
 <div class="filter-container">
    <select class="filter-select" id="departmentFilter" onchange="filterByDepartment()">
        <option value="ALL">All Departments</option>
        <option value="PEDIATRICS">Pedia</option>
        <option value="NURSERY">NURSERY</option>
        <option value="DIETARY">DIETARY</option>
        <option value="MS">MS</option>
        <option value="MM">MM</option>
        <option value="ICU">ICU</option>
        <option value="CCU">CCU</option>
        <option value="OB">OB</option>
        <option value="AKU1">AKU1</option>
		<option value="AKU2">AKU2</option>

        <option value="FS">FS</option>
        <option value="FM">FM</option>
    </select>
<button class="filter-select" onclick="window.location.href='/patients/users'" style="margin-left:20px;background-color:blue;color:white;">List of users</button></div>


         </div>
		 
        <div id="printModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); padding: 20px; background: white; border: 1px solid black; z-index: 1000;">
    <h2>Select Print Type</h2>
    <select id="printTypeSelect">
    <option value="">Select print type</option>
    <option value="patient">Patient</option>
    <option value="companion">Companion</option>
    <option value="specific">Specific Patient (Enter fileNo below)</option>
  <!--  <option value="one">Print One Patient</option> -->
</select>
    <div id="specificPatientContainer" style="display: none; margin-top: 10px;">
        <label for="specificPatientFileNo">Enter fileNo of specific patient:</label>
        <input type="text" id="specificPatientFileNo">
    </div>
    <button onclick="processPrint()"  class="btn btn-danger">Print</button>
    <button onclick="closePrintModal()" class="btn btn-danger">Cancel</button>
	<button onclick="window.location.href='/patients/card'" class="btn btn-danger">filter</button>
</div>
<button class="btn btn-success btn-add no-print" onclick="window.location.href='/patients/dietary'">
    <i class="fas fa-home"></i> Home
</button>
<button class="btn btn-success btn-add no-print" onclick="window.location.href='/patients/diet-system'">Diet Order System</button>

         <hr class="no-print">
		      
            <a id="mm" href="/patients/add" class="btn btn-primary mb-3"><i class="fas fa-user-plus"></i> Add Patient</a>
			<button class="btn btn-primary btn-add no-print" onclick="window.print()">Download PDF Report</button>
         <button class="btn btn-primary btn-add no-print" onclick="window.location.href='/patients/notificationArchive'">Notification Archive</button>
       <!-- <button class="btn btn-primary btn-add no-print" onclick="showRetrieveForm(this)">Retrieve notifications</button> -->
        <button class="btn btn-primary btn-add no-print" onclick="window.location.href='/patients/archived'">Patients Archive</button>
<button class="btn btn-primary btn-add no-print" onclick="openPrintModal()">Card Print</button>
                <button class="btn btn-primary btn-add no-print" onclick="window.location.href='/patients/logs'">Add-log</button>

                <button class="btn btn-primary btn-add no-print" onclick="window.location.href='/patients/update-logs'">Update-log</button>
       
         <button class="btn btn-primary btn-add no-print" onclick="window.location.href='/patients/deletion-log'">delete-log</button>
		<!-- <a href="/export/excel" class="btn btn-success">Download Excel</a> -->

         
         <div class="notification-icon" onclick="toggleNotifications()"  >
            <i class="fas fa-bell"></i> <!-- FontAwesome Bell Icon -->
            <span class="notification-count"></span>
         </div>
         <div class="text-center">
        </div>
		<div class="filter-section" style="display: flex; align-items: center; gap: 10px; margin-bottom: 15px;">
		    <label for="filterColumn" style="margin-right: 5px;">Select the statement to filter:</label>
		    <select id="filterColumn" class="form-control" onchange="updateInputType()" style="width: 200px;">
		        <option value="file-no-col">File No</option>
		        <option value="name-col">Name Of Patient</option>
		        <option value="age-col">Age</option>
		        <option value="room-col">Room</option>
		        <option value="bed-col">Bed</option>
		        <option value="diagnosis-col">Diagnosis</option>
		        <option value="diet-order-col">Diet Order</option>
		        <option value="admission-date-col">Admission Date</option>
		        <option value="companion-name-col">Companion Name</option>
		        <option value="department-col">Department</option>
		    </select>
		    
		    <label for="filterValue" style="margin-right: 5px;">Enter value to filter:</label>
		    <input type="text" id="filterValue" class="form-control" placeholder="Type the value here" style="width: 200px;">
		    
		    <button onclick="applyFilter()" class="btn btn-primary" style="height: 40px;">Apply filter</button>
		</div>

		<div>
		    <p th:if="${errorMessage}" th:text="${errorMessage}" 
		       style="color: red; text-align: center; font-size: 20px;" 
		       id="errorMessage"></p>
		       
		    <p th:if="${successMessage}" th:text="${successMessage}" 
		       style="color: green; text-align: center; font-size: 20px;" 
		       id="successMessage"></p>
		</div>
         <table class="table table-striped mt-3" id="patientsTable">
            <thead class="thead-dark">
               <tr>
               
    <th id="serial-no-col" rowspan="2">SNo</th>
    <th id="file-no-col" rowspan="2">File No</th>  
    <th id="name-col" rowspan="2">Name Of Patient</th>
    <th id="age-col" rowspan="2">Age</th>
    <th id="room-col" rowspan="2">Room</th>
    <th id="bed-col" rowspan="2">Bed</th>
    <th id="pattern-feeds-col">Pattern Feeds</th>
    <th id="diagnosis-col" rowspan="2">Diagnosis</th>
    <th id="diet-order-col" rowspan="2">Diet Order</th>
        <th id="note-order-col" rowspan="2">Notes</th>
    
    <th id="admission-date-col" rowspan="2">Ad. Date</th>
    <th id="companion-name-col" rowspan="2">Co. Name</th>
            <th id="department-col" class="depart-col" rowspan="2">Department</th>
    <th class="actions-column no-print" rowspan="2" id="ac-col" colspan="2" >Actions</th>
</tr>
<tr>
    <th rowspan="2">
        <div class="pattern-feeds">
            <div>N</div>
            <div>C</div>
            <div>S</div>
        </div>
    </th>
</tr>
            </thead>
            <tbody>
        <tr th:each="patient, iterStat : ${patients}" th:if="${!patient.archived}">
                  <td></td>
                  <!-- توليد الرقم التسلسلي -->
                  <td th:text="${patient.fileNo}"></td>
                  <td th:text="${patient.nameOfPatient}"></td>
                  <td th:text="${patient.age}"></td>
                  <td th:text="${patient.room}"></td>
                  <td  th:text="${patient.bed}"></td>
                  <td>
                     <div class="pattern-feeds">
                        <div th:text="${patient.patternFeeds == 'N' ? '✔' : ''}" class="check-mark"></div>
                        <div th:text="${patient.patternFeeds == 'C' ? '✔' : ''}" class="check-mark"></div>
                        <div th:text="${patient.patternFeeds == 'S' ? '✔' : ''}" class="check-mark"></div>
                     </div>
                  </td>
                  <td id="hi" th:text="${patient.diagnosis}"></td>
                  <td id="hi" th:text="${patient.dietOrder}"></td>
                  <td id="hi" th:text="${patient.notes}"></td>
                  
                  <td th:text="${patient.admissionDate}"></td>
                  <td th:text="${patient.companionName}"></td>
            <td class="depart-col" th:text="${patient.registeredByDepartment}"></td>
                      <td class="actions-column no-print">
            <a th:href="@{'/patients/edit/' + ${patient.id}}" class="btn btn-warning"><i class="fas fa-edit"></i></a>
        </td>
     <!--  <td class="actions-column no-print">
    <form th:action="@{'/patients/archive/' + ${patient.id}}" method="post" onsubmit="return confirm('Are you sure you want to archive this patient?');">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
    </form>
</td> -->
               </tr>
            </tbody>
            <tfoot >
               <tr>
                  <td colspan="6"><strong>Total</strong></td>
                  <td style="background-color: #5353ec;color:black;">
                     <div class="pattern-feeds" id="div">
                        <div id="totalN">0</div>
                        <div id="totalC">0</div>
                        <div id="totalS">0</div>
                  <td  colspan="4"></td> <!-- ترك خلايا فارغة للتقدم للعمود رقم 11 -->
                  <td style="background-color: #5353ec;color:black;">
                  <div id="totalCompanion">0</div> <!-- عرض العدد في العمود رقم 11 -->                 
                  </td>
                  
                  </div>
                  </td>
               <!--   <td colspan="5"></td> -->
               </tr>
               <tr>
                                 <td class="mosad" colspan="7" id="total1"><strong>Total number of companions and patients</strong></td>
                                 <td class="mosad" colspan="8" id="total">0</td>
                                                   
                                 
               
               </tr>
            </tfoot>
         </table>
          <!-- معلومات التوقيع بجانب بعضها -->
    <div class="signature-section">
        <div class="signature-container">
            <div class="signature-column">
                <div class="signature-title">NURSE OF WARD</div>
                
                <div class="signature-row">
                    <span class="signature-label">Sign:</span>
                    <span class="signature-field">.............................................</span>
                </div>
            </div>
            <div class="signature-column">
                <div class="signature-title">HEAD NURSE OF WARD</div>
                
                <div class="signature-row">
                    <span class="signature-label">Sign:</span>
                    <span class="signature-field">.............................................</span>
                </div>
            </div>
            <div class="signature-column">
                <div class="signature-title">DIETITIAN</div>
             
                <div class="signature-row">
                    <span class="signature-label">Sign:</span>
                    <span class="signature-field">.............................................</span>
                </div>
            </div>
            <div class="signature-column">
                <div class="signature-title">DIRECTOR</div>
                <div class="signature-row">
                    <span class="signature-label">Sign:</span>
                    <span class="signature-field">.............................................</span>
                </div>
            </div>
        </div>
    </div>
	<div class="notification-card" id="notificationCard">
	    <h2 class="new">New notifications</h2>
	    <ul class="notification-list">
	        <li th:each="notification : ${notifications}" th:if="${notification.status != 'read'}" id="notification-${notification.id}">
	            <div class="notification-info" id="print-section">
	                <div class="print-info">
	                    <input type="checkbox" class="print-checkbox" name="notificationIds" value="${notification.id}" onchange="selectNotification(this)">
	                    <div><strong>Section :</strong> <span th:text="${notification.departmentName + ' ward'}"></span></div>
	                    <div><strong>Diet :</strong> <span th:text="${notification.mealType}"></span></div>
	                    <div><strong>Date :</strong> <span th:text="${notification.date}"></span></div>
	                    <div><strong>Day :</strong> <span th:text="${notification.day}"></span></div>
	                    <div><strong>Nurse Name :</strong> <span th:text="${notification.nurseName}"></span></div>
	                    <div><strong>Nurse File Number :</strong> <span th:text="${notification.nurseFileNumber}"></span></div>
	                </div>
	            </div>
	            <div class="notification-actions">
	                <form th:action="@{/patients/updateNotificationStatus}" method="post" onsubmit="markAsRead(event, ${notification.id})">
	                    <input type="hidden" name="id" th:value="${notification.id}" />
	                    <input type="hidden" name="status" value="read" />
	                    <button type="submit" class="read-btn">Mark as Read</button>
	                </form>
	            </div>
	        </li>
	    </ul>
	</div>
      
     <div id="retrieveForm" class="form-popup">
        <form th:action="@{/patients/retrieve-nurse-file}" method="post">
            <label for="nurseFileNumber"><strong>Nurse File Number:</strong></label>
            <input type="text" id="nurseFileNumber" name="nurseFileNumber" required />
            <button type="submit">Retrieve</button>
            <button type="button" class="close-btn" onclick="closeRetrieveForm()">Close</button>
        </form>
    </div>
	<!-- Add this div at the end of your body -->
	<div class="print-details" id="printInfo">
	    <p>Printed by: <span th:text="${username}"></span></p>
	    <p>Print Time: <span id="printTime"></span></p>
	    <p>Print Date: <span id="printDate"></span></p>
	</div>

     <script src="/assets/js/jquery-3.5.1.min.js"></script>
      <script src="/assets/js/jspdf.umd.min.js"></script>
      <script src="/assets/js/jspdf.plugin.autotable.min.js"></script>
	  
<script>
	
// Function to open the modal
function openPrintModal() {
    document.getElementById('printModal').style.display = 'block';
}

// Function to close the modal
function closePrintModal() {
    document.getElementById('printModal').style.display = 'none';
}

// Function to handle the print action
function processPrint() {
	
    const printType = document.getElementById('printTypeSelect').value.toLowerCase();
    const specificPatientFileNo = document.getElementById('specificPatientFileNo').value.trim().toLowerCase();

    if (!printType || (printType !== 'patient' && printType !== 'companion' && printType !== 'specific' && printType !== 'one')) {
        alert("Please select a valid print type.");
        return;
    }

    if (printType === 'specific' && specificPatientFileNo === '') {
        alert("Please enter a fileNo for the specific patient.");
        return;
    }

    if (printType === 'one') {
        const fileNo = prompt("Enter the fileNo of the patient:");
        if (fileNo) {
            printThermal('specific', fileNo.trim().toLowerCase());
        }
        return;
    }

    // Close the modal
    closePrintModal();

    // Process the printing
    printThermal(printType, specificPatientFileNo);
}

// Function to handle the printing logic
function printThermal(printType, specificPatientFileNo) {
    const departmentFilter = document.getElementById('departmentFilter').value.toLowerCase();
    
    const patientData = [];
    const companionData = [];
    let anyCheckboxSelected = false;

    document.querySelectorAll('#patientsTable tbody tr').forEach(row => {
        const checkbox = row.querySelector('input[type="checkbox"]');
        const departmentCell = row.querySelector('.depart-col');
        const fileNo = row.querySelector('td:nth-child(2)').innerText.trim().toLowerCase();
        const patientName = row.querySelector('td:nth-child(3)').innerText.trim().toLowerCase();
        const age = parseInt(row.querySelector('td:nth-child(4)').innerText.trim()); // العمر
        const notes = row.querySelector('td:nth-child(10)').innerText.trim(); // Notes
        const companionName = row.querySelector('td:nth-child(12)').innerText.trim();

        // التحقق من تحديد المربع
        if (checkbox && checkbox.checked) {
            anyCheckboxSelected = true;
        }

        if (checkbox && !checkbox.checked && anyCheckboxSelected) {
            return; // تخطي الصفوف إذا تم تحديد مربع سابقًا
        }

        if (departmentFilter !== 'all' && (departmentCell && departmentCell.innerText.trim().toLowerCase() !== departmentFilter)) {
            return; // تخطي الصفوف التي لا تتطابق مع مرشح القسم
        }

        if (printType === 'specific' && patientName !== specificPatientFileNo && fileNo !== specificPatientFileNo) {
            return;  // تخطي الصفوف التي لا تتطابق مع رقم الملف الخاص بالمريض
        }

        const tag = age >= 60 ? '✔️' : ''; // إضافة علامة صح إذا كان العمر 60 أو أكثر

        const patient = {
            name: patientName,
            age: age, // إضافة العمر
            tag: tag, // إضافة Tag
            notes: notes, // إضافة الملاحظات
            dietOrder: row.querySelector('td:nth-child(9)').innerText,
            room: row.querySelector('td:nth-child(5)').innerText,
            bed: row.querySelector('td:nth-child(6)').innerText,
            companionName: companionName || '',
            role: printType === 'companion' ? 'companion' : 'patient'
        };

        if (printType === 'companion') {
            if (patient.companionName === '') {
                return; // تخطي الطباعة إذا كان اسم المرافق فارغًا
            }
            patient.dietOrder = 'normal';
            patient.name = patient.companionName;
        }

        // Separate patient and companion data
        if (printType === 'specific') {
            if (fileNo === specificPatientFileNo) {
                patientData.push(patient); // Always push patient data

                // If there's a companion name, push it as well
                if (patient.companionName) {
                    companionData.push({
                        name: patient.companionName,
                        dietOrder: 'normal',
                        room: patient.room,
                        bed: patient.bed,
                        role: 'companion'
                    });
                }
            }
        } else {
            patientData.push(patient);
        }
    });

    if (patientData.length === 0) {
        alert("No data found for the selected filter.");
        return;
    }

    const today = new Date();
    const dateString = `${today.getDate()}/${today.getMonth() + 1}/${today.getFullYear()}`;
    const dayName = today.toLocaleDateString('en-US', { weekday: 'long' });
    const departmentName = document.getElementById('departmentFilter').options[document.getElementById('departmentFilter').selectedIndex].text;

	const printContent = `
	    <div style="font-size: 12px;">
	        ${patientData.map((patient, index) => `
	            <div style="width: 75mm; height: 75mm; margin: 15mm 0; padding: 1mm; box-sizing: border-box; page-break-inside: avoid;">
	                <table style="width: 100%; height: 115%; border-collapse: collapse;">
	                    <tr>
	                        <td colspan="2" style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle;">
	                            <strong>Date:</strong> ${dateString} 
	                            <span style="display: inline-block; width: 10px;"></span>
	                            <strong>Day:</strong> ${dayName} <br>
	                            <strong>Department:</strong> ${departmentName} <br>
	                            <strong>Role:</strong> ${patient.role === 'companion' ? 'Companion' : 'Patient'}
	                        </td>
	                    </tr>
	                    
	                    <tr>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 20%;">
	                            <strong>Name:</strong>
	                        </td>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 80%;">
	                            ${patient.name}
	                        </td>
	                    </tr>

	                    <!-- عرض العمر فقط إذا كان المريض وليس المرافق -->
	                    ${patient.role !== 'companion' ? `
	                    <tr>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 20%;">
	                            <strong>Age:</strong>
	                        </td>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 80%;">
	                            ${patient.age}
	                        </td>
	                    </tr>
	                    ` : ''}

	                    <!-- عرض Tag فقط إذا كان المريض وليس المرافق -->
	                    ${patient.role !== 'companion' ? `
	                    <tr>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 20%;">
	                            <strong>Tag:</strong>
	                        </td>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 80%;">
	                            ${patient.tag}
	                        </td>
	                    </tr>
	                    ` : ''}

	                    <tr>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 30%;">
	                            <strong>Diet O:</strong>
	                        </td>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 70%;">
	                            ${patient.dietOrder}
	                        </td>
	                    </tr>

	                    <tr>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 20%;">
	                            <strong>Room:</strong>
	                        </td>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 80%;">
	                            ${patient.room}
	                        </td>
	                    </tr>

	                    <tr>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 20%;">
	                            <strong>Bed:</strong>
	                        </td>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 80%;">
	                            ${patient.bed}
	                        </td>
	                    </tr>

	                    <!-- عرض الملاحظات فقط إذا كان المريض وليس المرافق -->
	                    ${patient.role !== 'companion' ? `
	                    <tr>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 30%;">
	                            <strong>Notes:</strong>
	                        </td>
	                        <td style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle; width: 70%;">
	                            ${patient.notes}
	                        </td>
	                    </tr>
	                    ` : ''}
	                    
	                    <tr>
	                        <td colspan="2" style="border: 1px solid black; padding: 2px; text-align: center; vertical-align: middle;">
	                            مع تمنياتنا بالشفاء العاجل قسم التغذية <br> مستشفى الدوادمي
	                        </td>
	                    </tr>
	                </table>
	                <hr style="border: 1px solid black; margin: 2px 0;">
	            </div>
	        `).join('')}
	    </div>
	`;



    const printWindow = window.open('', '', 'width=800,height=600');
    printWindow.document.write('<html><head><title>Print</title><style>@media print { .no-print { display: none; } }</style></head><body>');
    printWindow.document.write(printContent);
    printWindow.document.write('</body></html>');
    printWindow.document.close();
    printWindow.focus();
    printWindow.print();
}

// Update the modal display logic based on print type selection
document.getElementById('printTypeSelect').addEventListener('change', function() {
    const specificPatientContainer = document.getElementById('specificPatientContainer');
    if (this.value === 'specific') {
        specificPatientContainer.style.display = 'block';
    } else {
        specificPatientContainer.style.display = 'none';
    }
});

</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var table = document.getElementById("patientsTable");
    var rows = table.querySelectorAll("tbody tr");
    rows.forEach(function(row, index) {
        var serialNoCell = row.querySelector("td:first-child");
        serialNoCell.textContent = index + 1;
    });
});
</script>
<script>
    function selectNotification(selectedCheckbox) {
        const checkboxes = document.querySelectorAll('.print-checkbox');
        
        // إذا تم اختيار الشيك بوكس، يتم إخفاء باقي الإشعارات
        checkboxes.forEach(checkbox => {
            const notification = checkbox.closest('li');
            if (checkbox !== selectedCheckbox) {
                notification.style.display = 'none'; // إخفاء الإشعارات الأخرى
            } else {
                notification.style.display = ''; // عرض الإشعار المختار فقط
            }
        });
    }
</script>
<script>
    // تنفيذ عند تحميل الصفحة
    window.onload = function() {
        // الحصول على العناصر
        const errorElement = document.getElementById("errorMessage");
        const successElement = document.getElementById("successMessage");

        // إخفاء رسالة الخطأ بعد 5 ثوانٍ
        if (errorElement) {
            setTimeout(() => {
                errorElement.style.display = "none";
            }, 5000);
        }

        // إخفاء رسالة النجاح بعد 5 ثوانٍ
        if (successElement) {
            setTimeout(() => {
                successElement.style.display = "none";
            }, 5000);
        }
    };
</script>
   </body>
</html>